nav {
    position: center;
}
nav ul {
    box-sizing: border-box;
    background-color: lightgray;
    height: 50px;
    width: 80%;
    border: 1px solid silver;
    border-top: 2px solid darkgray;
    list-style: none;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
nav ul li {
    display: flex;
    justify-self: flex-start;
    color: gray;
    height: 100%;
    width: 100%;
}
nav ul li form{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}