body {
    animation-duration: 4s;
    animation-name: x;
    animation-iteration-count: infinite;
    animation-play-state: unset;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
/*@keyframes x {*/
/*    0% {*/
/*        background-color: blue;*/
/*    }*/
/*    50% {*/
/*        background-color: red;*/
/*    }*/
/*    100% {*/
/*        background-color: blue;*/
/*!*    }*!*/
/*!*}*!*/
/*!*div.effect {*!*/
/*    height: 50px;*/
/*    width: 50px;*/
/*    position: relative;*/
/*    animation-name: y;*/
/*}*/
@keyframes y {
    0% {
        background-color: green;
        left: 0;
        top: 0;
    }
    25% {
        background-color: greenyellow;
        left: 50;
        top:0;
    }
}

.moving {
    position: static;
    left: 10px;
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    margin: 10px;
}
.moving:hover {
    animation-play-state: paused;
}
@keyframes moving {
    0% {
        margin: 10px;
        transform: translateX(0px);
    }
    100% {
        margin: 10px;
        transform: translateX(1140px);
    }
}
