.nav {
    box-sizing: border-box;
    background-color: darkgray;
    color: black;
}
.nav-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}
.nav-list {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    align-items: center;
}
.left {
    margin-left: auto;
}
.nav-item a {
    box-sizing: border-box;
    display: inline-block;
    padding: 0.5em;
    color: black;
    font-size: 1em;
}
.nav-item a:hover {
    background-color: blue;
}
.nav-item a h3 {
    box-sizing: border-box;
    margin: 0 auto;
}
.nav-item a img {
    margin-left: auto;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}