body {
    font-family: Arial;
    animation-name: x;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-play-state: running;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes x {
    0% {
        background-color: cornflowerblue;
    }
    50% {
        background-color: darkseagreen;
    }
    100% {
        background-color: cornflowerblue;
    }
}
#nav-container {
    background-color: lightgray;
    padding: 15px;
    border: 1px solid gray;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: auto;
    box-shadow: gray;
}
a.nav {
    background-color: silver;
    padding: 10px;
    border: 1px solid gray;
    text-decoration: none;
}
a.nav:hover {
    animation-name: nav;
    animation-duration: 1s;
    background-color: blue;
}
@keyframes nav {
    from {
        background-color: silver;
    }
    to {
        background-color: blue;
    }
}
#main {
    background-color: silver;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    text-align: center;
    border: 1px solid gray;
}
.fancy-header {
    color: purple;
}
h1, h2, h3, h4, h5, h6 {
    color: brown;
    text-decoration: underline;
}
ul {
    list-style: none;
}
td {
    padding: 1em;
    border: 1px solid red;
    margin: 0;
}
table {
    table-border-color-dark: aqua;
    margin-left: 35%;
}
/*tr {*/
/*    padding: 2em;*/
/*    border: 1px solid yellow;*/
/*}*/
a {
    color: cadetblue;
}
a:hover {
    color: chartreuse;
}
a:visited {
    color: floralwhite;
}
#go-to-top {
    text-align: center;
    padding: 18px;
    background-color: coral;
    position: fixed;
    bottom: 5px;
    text-decoration: none;
}
.img1 {
    height: 240px;
    width: 150px;
}
.img2 {
    height: 240px;
    width: 240px;
}